<p id="notice"><%= notice %></p>

<h1>Homes</h1>

<table>
  <thead>
    <tr>
      <th>Product name</th>
      <th>Category</th>
      <th>Product link</th>
      <th>Discription</th>
      <th>Sell price</th>
      <th>Purchase price</th>
      <th>Discount</th>
      <th>Product veido</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @homes.each do |home| %>
      <tr>
        <td><%= home.product_name %></td>
        <td><%= home.category %></td>
        <td><%= home.product_link %></td>
        <td><%= home.discription %></td>
        <td><%= home.sell_price %></td>
        <td><%= home.purchase_price %></td>
        <td><%= home.discount %></td>
        <td><%= home.product_veido %></td>
        <td><%= link_to 'Show', home %></td>
        <td><%= link_to 'Edit', edit_home_path(home) %></td>
        <td><%= link_to 'Destroy', home, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Home', new_home_path %>
